################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MusicAI/bin/Debug/netcoreapp3.1
