################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MusicAI/bin/Debug/netcoreapp3.1
/MusicAI/obj/Debug/netcoreapp3.1/MusicAI.csproj.CoreCompileInputs.cache
/MusicAI/obj/Debug/netcoreapp3.1/MusicAI.csproj.FileListAbsolute.txt
/MusicAI/obj/Debug/netcoreapp3.1/MusicAI.dll
/MusicAI/obj/Debug/netcoreapp3.1/MusicAI.exe
/MusicAI/obj/Debug/netcoreapp3.1/MusicAI.pdb
/MusicAI/obj/Debug/netcoreapp3.1/MusicAI.genruntimeconfig.cache
